html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #242119;
}

header {
    background-color: #e9ddc6;
    overflow: hidden;
    border-bottom: solid 36px #242119;
}
header h1 {
    text-align: center;
    font-size: 5vw;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 40px;
}
header h2 {
    color: #242119;
    text-align: center;
    font-family: "new-order", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.35vw;
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    top: -10px;
}

h1 {
    color: #242119;
    font-family: "dunbar-tall", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.hidden { display: none!important; }

.filter-and-gallery-container {
    display: grid;
    grid-template-columns: minmax(0, 300px) 1fr;
    gap: 36px;
    background-color: #242119;
    min-height: 100%;
}

#filter-div {
    background-color: #ecede4;
    padding: 20px;
}

#gallery-search-box {
    border: 2px solid #242119;
    border-radius: 25px;
    padding: 6px 15px;
    font-family: "new-order", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    outline: none;
    width: 90%;
    margin-bottom: 30px;
}
#gallery-search-box::placeholder { color: #242119; }

.filter-indicator {
    color: #ecede4;
    border-radius: 20px;
    padding: 5px 12px;
    font-size: 16px;
    font-family: "new-order", sans-serif;
    font-weight: 500;
    font-style: normal;
    align-items: center;
    gap: 4px;
    display: inline-flex;
    justify-content: center;
}
.filter-indicator.yellow { background: #cba52a; }
.filter-indicator.red { background: #eb5534; }
.filter-indicator.blue { background: #4d82a1; }

.filter-delete-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    display: inline-flex;
}

.facet-list, .gallery {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.facet-list-header, .gallery-header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: nowrap;
    justify-content: end;
    writing-mode: sideways-lr;
    color: #242119;
    font-family: "new-order", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    white-space: nowrap;
    padding-right: 10px;
}

.facet-list-content {
    color: #242119;
    max-height: 40vh;
    overflow-y: auto;
}

.facet-list-content a {
    color: #242119;
    text-decoration: none;
    font-family: "new-order", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
    text-indent: -20px;
}

.count-badge {
    background-color: #242119;
    color: #ecede4;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    vertical-align: middle;
    display: inline-block;
    text-indent: 0;
    min-width: 12px;
    text-align: center;
}
.facet-list-header .count-badge, .gallery-header .count-badge {
    font-size: 16px;
    writing-mode: horizontal-tb;
}

#gallery-div {
    background-color: #e9ddc6;
    padding: 20px;
    min-height: 100%;
}

.gallery { padding-bottom: 20px; }
.gallery.yellow { border-bottom: solid 4px #cba52a; }
.gallery.red { border-bottom: solid 4px #eb5534; }
.gallery.blue { border-bottom: solid 4px #4d82a1; }

.gallery-container { width: 100%; max-height: 100vh; overflow-y: scroll; }
.gallery-container.height-restricted {
    max-height: 50vh;
}

.gallery-header {
    font-size: 30px;
}
.gallery-header .count-badge {
    font-size: 20px;
}
.gallery-content {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    width: 100%;
}
@media (min-width: 768px) {
    .gallery-content {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1024px) {
    .gallery-content {
        grid-template-columns: repeat(5, 1fr);
    }
}

.gallery-pane {
    aspect-ratio: 1;
    overflow: hidden;
}
.gallery-pane img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}